#tasks {
    width: 100%;
    background-color: #D3D3D3;
}

#tasks span {
    float: left;
    width: 80%;
}

.task {
    margin: 1px;
    border-left: 1px #000000 solid;
    border-top: 1px #000000 solid;
    border-right: 1px #000000 solid;
}

.task-last {
    border: 1px #000000 solid;
}