@(message: String, tasks: List[Task], form: Form[Task])

@main("Tasks") {
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a id="titleLink" class="brand" href="/">@message</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="video">

        </div>

        <div id="tasks">
            @if(!tasks.isEmpty) {
                @for(task <- tasks) {
                    @if(task.equals(tasks.last)) {
                        <div id="task@task.id" class="task-last">
                    } else {
                        <div id="task@task.id" class="task">
                    }

                    @if(task.equals(tasks.head)) {
                        <script>
                            // Load the IFrame Player API code asynchronously.
                            var tag = document.createElement('script');
                            tag.src = "https://www.youtube.com/player_api";
                            var firstScriptTag = document.getElementsByTagName('script')[0];
                            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

                            // Replace the 'video' element with an <iframe> and
                            // YouTube player after the API code downloads.
                            var player;
                            function onYouTubePlayerAPIReady() {
                                player = new YT.Player('video', {
                                    height: '480',
                                    width: '940',
                                    videoId: '@services.UrlConverter.convert(task.contents)',
                                    events: {
                                        'onReady' : onPlayerReady,
                                        'onStateChange' : onPlayerStateChange
                                    }
                                });
                            }
                            function onPlayerReady(event) {
                                event.target.playVideo();
                            }

                            function onPlayerStateChange(event) {
                                if(event.data == 0) {
                                    console.log("VIDEO IS DONE");
                                }
                            }
                        </script>
                    }

                        <span>@task.id: @task.contents</span>
                        <a href="@controllers.Application.routesDelete(task.id)">delete</a>
                    </div>
                }
            }
        </div>

        <div id="addTasks">
            @helper.form(action=routes.Application.addTask()) {
                @helper.inputText(form("Contents"))
                <input type="submit" value="Submit">
            }
        </div>
    </div>

}
