@(message: String, tasks: List[Task], form: Form[Task])

@main("Tasks") {
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a id="titleLink" class="brand" href="/">@message</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="video">
            <iframe id="player" type="text/html" width="940" height="480"
                @if(tasks.isEmpty) {
                    src="">
                } else {
                    src="@services.UrlConverter.convert(tasks.head.contents)">
                }
            </iframe>
        </div>

        <div id="tasks">
            @if(!tasks.isEmpty) {
                @for(task <- tasks) {
                    @if(task.equals(tasks.last)) {
                        <div id="task@task.id" class="task-last">
                    } else {
                        <div id="task@task.id" class="task">
                    }
                        <span>@task.id: @task.contents</span>
                        <a href="@controllers.Application.routesDelete(task.id)">delete</a>
                    </div>
                }
            }
        </div>

        <div id="addTasks">
            @helper.form(action=routes.Application.addTask()) {
                @helper.inputText(form("Contents"))
                <input type="submit" value="Submit">
            }
        </div>
    </div>

}
